#headline {
  background: linear-gradient(to bottom, #03001e, #7303c0, #ec38bc, #fdeff9);
}

header, footer {
  background-color: black;
}

.card {
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
  background: #fffefe;
  background: linear-gradient(0deg, #fffefe 0%, #d8d8d8 100%);
}

.description {
  height: 90px;
  overflow: hidden;
}

.descriptionAll {
  height: auto;
}
